<%- include('Admin header.ejs') %>
    <div class="container">
        <div class="row">
            <div class="text-center">Add product</div>
            <div class="col-sm-7 offset-sm-3">
                <form action="/Add_Product" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label">Product Name</label>
                        <input class="form-control" type="text" name="Products_Name" required placeholder="Enter Product Name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Product Price</label>
                        <input class="form-control" type="text" name="Products_Price" required placeholder="Enter Product Price">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Product Type</label>
                        <select class="form-control" name="Products_Type" required>
                            <option selected disabled value="">Select Product Type</option> <!-- 'value=""' ensures that 'Select Product Type' is not considered as the value for the 'required' condition selected above -->
                            <option>Clothes</option>
                            <option>Electronics</option>
                            <option>Grocery</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Product Image</label>
                        <input class="form-control" type="file" name="Products_Image" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Product Description</label>
                        <input class="form-control" type="text" name="Products_Description" required placeholder="Enter Product Description">
                    </div>
                    <input class="btn btn-success" type="submit" value="Add the product now">
                </form><br>
                <% if(message_003){ %>
                    <h3 class="text-success"><%= message_003 %></h3>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>