<%- include ('Admin header.ejs') %>
        <div style="border: solid 3px chocolate; background-color: beige; color: brown; padding: 10px; border-radius: 10px 5px; text-align: center;"><h1><%= Username %>'s Dashboard</h1></div>
        <div style="border: 5px double chartreuse; background-color: papayawhip; margin: 25px; padding: 30px;">
            <div style="display: inline-block; border: thick dashed crimson; background-color: honeydew; margin: 50px; padding: 20px;">
                <h3>Customer count</h3>
                <p>Currently, there are <b>100+</b> customers</p>
            </div>
            <div style="display: inline-block; border: thick dashed crimson; background-color: honeydew; margin: 50px; padding: 20px;">
                <h3>Usage statistics</h3>
                <p>The website is visited daily at-least <b>500</b> times</p>
            </div>
        </div>
    </body>
</html>